{% extends "layout.html" %}
    
{% block title %}
    About
{% endblock %}

{% block main %}

    <div id ="about">
        <div class="about_title">
            <h4>Hello and Welcome to my final project for CS50!</h4>
        </div>
        <br>
        <p> My name is Auriane and for the past few months I have been taking a computer science class online and this
            is my final project. I wanted this project to be meaningful as well as useful. So I decided, to link two of
            my passions which are social and environmental justice with coding!
        </p>
        <br>
        <p>In the past, I have used the Power Cube to analyze power dynamic created by participatory methods for a research
            project. As I was implementing this framework to my analysis, I created an excel spread sheet 
            to save the different elements of my analysis on the same page, which would allow me to have a global 
            vision of my work. The purpose of this webapp is to offer a structure that allows you to type your analysis 
            directly into the form that represents the Power Cube framework and to render a styled document of your 
            analysis.
        </p>
        <br>
        <p>If you have any comments or suggestions please feel free to connect with me at auriane.vez at gmail.com. 
            I am at the beginning of my coding journey, so any suggestion to upgrade this app are welcomed!
        </p>
    </div>

{% endblock %}
