{% extends "layout.html" %}

{% block title %}
    Power Cube
{% endblock %}

{% block main %}

    <div class ="power">
        <h4>Power Cube</h4>
        <div class = "power_text">
            <br>
            <p>I will assume that if you landed there, and did the work to get this app running, you know about the powercube!
                So, I will be sharing a few thoughts and comments on the app and the Power Cube. If you want to learn more about
                it, there are a lot of resources are available on the Power Cube <a href="https://www.powercube.net/"><i>website</i></a>.</p>
            <br>
            <p>I will start with a tiny comment regarding the webapp. In the analysis' form, I added some key elements
                that I liked to have on hand when I was applying the framework on my own resarch. I hope this will be helpful.</p>
            <br>
            <p>Discovering the Power Cube was an absolute joy as I realized its empowering potential. Indeed, power theory can get 
                very complex and I believe that the Power Cube allows anyone to conduct a power analysis to any situation or context.
                This is giving the power back to the people, as they get a good if not full picture of a situation. Not only internalized 
                oppression are highlighted but also it gives an entry point to bring change. It creates a breach in what seemed unshakable.</p> 

            <p>Gloria Anzaldùa Wrote:</p>
            <div class="quote">
                <p><i>“In trying to become 'objective,' Western culture made 'objects' of things and people when it distanced itself from them,
                     thereby losing 'touch' with them.”</i></p>
            </div>
            <br>
            <p>Those beautiful words connect with my experience of using the Power Cube. Indeed, the anyalsis with the Power Cube highlighted this lost
                of conenction, as it focuses on the interconnectivity of elements and people. This framework allows to reconnect to or connect
                people's different realities and perspective. It brings to the fore the silenced, or those who speak but are not heard or listened to!
                So, I truly hope that this webapp will be useful to anyone who aims to bring social change and give the power back to the people!!
            </p>
        </div>
    </div>

{% endblock %}

